//basics
$basicTxt: #1F1F1F;
$error: #FD756F; //wcag aa
$alert: #FFDF8D; //wcag aaa
$success: #54BD92; //wcag aaa

//purplebluish theme
$bg: #D5C5FF; //wcag aaa
$hoverBg: #7669D4; //wcag aa
$txt: #020422;
$cardBg: whitesmoke;