@use "./assets/variables/variables" as v;

html {
    background-color: v.$bg;
    color: v.$txt;
}

body {
    margin-top:60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}