//basics
$basicTxt: #1F1F1F;
$error: #FD756F; //wcag aa
$alert: #FFDF8D; //wcag aaa
$success: #54BD92; //wcag aaa

//purplebluish theme
$primary: #D5C5FF; //wcag aaa
$secondary: #7669D4; //wcag aa
$txt: #020422;

html {
    background-color: $primary;
    color: $txt;
}

body {
    margin-top:60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}