@use "../../../assets/variables/variables" as v;
@use "../../../assets/variables/font-variables" as fonts;

.slit > .slit {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: v.$cardBg;
    border: 1px solid black;
    height: 250px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}

//make this scrollable if theres too much shit
//hide scrollbar?? or make it rly thin
.slit > .stamps {
    border: 1px solid red;
    width: 10%;
    height: 100%;
    list-style: none;
    font-family: 'ocra', 'monospace';
    font-size: 0.8em;
    font-weight: bolder;
    text-align: center;
}

div.stamps li {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 16px;
}